<app-header></app-header>
<hr>
<header>
    <form class="fondo">
        <h1>LOGIN</h1>
        <br>
        <label>email</label>
        <br>
        <input type="text" [(ngModel)]="email" name="email">
        <br><br>
        <label>pass</label>
        <br>
        <input type="password" [(ngModel)]="pass" name="pass">    
        <br><br>
        <button (click)="login()">Entrar</button>    
    </form>
    <div class="log">
        <button class="" (click)="loginGoogle()">Login with Google</button>    
    </div>
    
</header>
