<app-header></app-header>
<hr>
<header>
  <form class="fondo">
    <h1>REGISTRAR</h1><br>
    <label>email</label><br>
    <input type="text" [(ngModel)]="email" name="email"><br><br>
    <label>pass</label><br>
    <input type="password" [(ngModel)]="pass" name="pass"><br><br>
    
    
    <label>Nombre</label><br>
    <input type="text" [(ngModel)]="nombre"><br>
    <!-- {{nombre}} -->
    <br>
    <label>Apellido</label><br>
    <input type="text" [(ngModel)]="apellido"><br>
    <!-- {{apellido}} -->
    <br>
    <button (click)="guardar()">Guardar</button>

  </form>


</header>

    